{% extends 'base.html' %}

{% block content %}

<div class="btn-group">
    <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
        Estados Unidos <span class="caret"></span>
    </button>

    <ul class="dropdown-menu">
        <li><a href="#">Acción #1</a></li>
        <li><a href="#">Acción #2</a></li>
        <li><a href="#">Acción #3</a></li>
    </ul>
</div>

<div class="btn-group">
    <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
        Rusia <span class="caret"></span>
    </button>

    <ul class="dropdown-menu">
        <li><a href="#">Acción #1</a></li>
        <li><a href="#">Acción #2</a></li>
        <li><a href="#">Acción #3</a></li>
    </ul>
</div>

<div class="btn-group">
    <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
        China <span class="caret"></span>
    </button>

    <ul class="dropdown-menu">
        <li><a href="#">Acción #1</a></li>
        <li><a href="#">Acción #2</a></li>
        <li><a href="#">Acción #3</a></li>
    </ul>
</div>

<div class="btn-group">
    <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
        Alemania <span class="caret"></span>
    </button>

    <ul class="dropdown-menu">
        <li><a href="#">Acción #1</a></li>
        <li><a href="#">Acción #2</a></li>
        <li><a href="#">Acción #3</a></li>
    </ul>
</div>

<div class="btn-group">
    <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
        Reino Unido <span class="caret"></span>
    </button>

    <ul class="dropdown-menu">
        <li><a href="#">Acción #1</a></li>
        <li><a href="#">Acción #2</a></li>
        <li><a href="#">Acción #3</a></li>
    </ul>
</div>

<div class="btn-group">
    <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
        Francia <span class="caret"></span>
    </button>

    <ul class="dropdown-menu">
        <li><a href="#">Acción #1</a></li>
        <li><a href="#">Acción #2</a></li>
        <li><a href="#">Acción #3</a></li>
    </ul>
</div>

<div class="btn-group">
    <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
        Japón <span class="caret"></span>
    </button>

    <ul class="dropdown-menu">
        <li><a href="#">Acción #1</a></li>
        <li><a href="#">Acción #2</a></li>
        <li><a href="#">Acción #3</a></li>
    </ul>
</div>

<div class="btn-group">
    <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
        Arabia Saudí <span class="caret"></span>
    </button>

    <ul class="dropdown-menu">
        <li><a href="#">Acción #1</a></li>
        <li><a href="#">Acción #2</a></li>
        <li><a href="#">Acción #3</a></li>
    </ul>
</div>

<div class="btn-group">
    <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
        Emiratos Árabes <span class="caret"></span>
    </button>

    <ul class="dropdown-menu">
        <li><a href="#">Acción #1</a></li>
        <li><a href="#">Acción #2</a></li>
        <li><a href="#">Acción #3</a></li>
    </ul>
</div>

<div class="btn-group">
    <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
        España <span class="caret"></span>
    </button>

    <ul class="dropdown-menu">
        <li><a href="#">Acción #1</a></li>
        <li><a href="#">Acción #2</a></li>
        <li><a href="#">Acción #3</a></li>
    </ul>
</div>

</body>

{% endblock %}
