{% extends 'base.html' %}

{% block content %}
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="row py-5 px-4">
                        <div class="col-md-5 mx-auto">
                            <!-- Profile widget -->
                            <div class="bg-white shadow rounded overflow-hidden">
                                <div class="px-4 pt-0 pb-4 bg-gradient-primary">
                                    <div class="media align-items-end profile-head">
                                        <div class="profile mr-3"><img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                                        <a href="#" class="btn btn-outline-dark btn-sm btn-block">Editar Perfil</a></div>
                                        <div class="media-body mb-5 text-white">
                                            <h4 class="mt-0 mb-0">{{g.user.username}}</h4>
                                            <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>Madrid</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="bg-light p-4 d-flex justify-content-end text-center">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                            <h5 class="font-weight-bold mb-0 d-block">0</h5><small class="text-muted"> <i class="fas fa-image mr-1"></i>Favoritos</small>
                                        </li>
                                        <li class="list-inline-item">
                                            <h5 class="font-weight-bold mb-0 d-block">0</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Compras</small>
                                        </li>
                                        <li class="list-inline-item">
                                            <h5 class="font-weight-bold mb-0 d-block">0</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Ventas</small>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
{% endblock %}