{% import "bootstrap/wtf.html" as wtf %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/login.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Signin Template for Bootstrap</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

  </head>

  <body class="text-center">
    <form method="POST" action="{{ url_for('auth.signup_post') }}" class="form-signin">
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
        {{ form.csrf_token }}
        {{wtf.form_field(form.email)}}
        {{wtf.form_field(form.username)}}
        {{wtf.form_field(form.password)}}
        {{wtf.form_field(form.checkpassword)}}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      <p>Do you want to <a href="{{ url_for('auth.login_get') }}">log in?</a>
    </form>
  </body>
</html>